<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Countries" value="Argentina:ar::|Chile:cl::*18|Paraguay:py::*18|Brasil:br::*18|Estados Unidos:us:5:*18|Colombia:co:71-72:*18|Peru:pe:73-74:*18|Uruguay:uy:751-752:*18|Mexico:mx:51:*18|Venezuela:ve:754:*18|Bolivia:bo:753:*18|España:es:634-635-636-637:*18|Holanda:nl:624-625:*18|Francia:fr:620-621:*18|Reino Unido:uk:622-623:*18|Alemania:de:648-649:*18|Australia:au:760:*18"/>
    
    <!--IP Adress Services-->
    <add key="UrlCustomDirectory.Landing" value="http://customdirectory.v2/" />
    <add key="UrlCustomDirectory" value="http://customdirectory.v2/CustomDirectory.aspx" />
    
    <add key="UrlDirectory.Landing.Argentina" value="http://10.11.147.10:8080/ccmcip/xmldirectoryinput.jsp?l=&amp;f=&amp;n=" />
    <add key="UrlDirectory.Argentina" value="http://10.11.147.10:8080/ccmcip/xmldirectorylist.jsp" />
    
    <add key="UrlDirectory.Landing.Chile" value="http://10.11.75.10:8080/ccmcip/xmldirectoryinput.jsp?l=&amp;f=&amp;n=" />
    <add key="UrlDirectory.Chile" value="http://10.11.75.10:8080/ccmcip/xmldirectorylist.jsp" />
    
    <add key="UrlDirectory.Landing.Paraguay" value="http://10.13.11.10:8080/ccmcip/xmldirectoryinput.jsp?l=&amp;f=&amp;n=" />
    <add key="UrlDirectory.Paraguay" value="http://10.13.11.10:8080/ccmcip/xmldirectorylist.jsp" />
    
    <add key="UrlDirectory.Landing.Brasil" value="http://10.7.250.231:8080/ccmcip/xmldirectoryinput.jsp?l=&amp;f=&amp;n=" />
    <add key="UrlDirectory.Brasil" value="http://10.7.250.231:8080/ccmcip/xmldirectorylist.jsp" />

    <add key="UrlDirectory.Landing.Estados_Unidos" value="http://10.13.149.10:8080/ccmcip/xmldirectoryinput.jsp?l=&amp;f=&amp;n=" />
    <add key="UrlDirectory.Estados_Unidos" value="http://10.13.149.10:8080/ccmcip/xmldirectorylist.jsp" />
  
    <add key="UrlDirectory.Landing.Colombia" value="http://10.11.75.10:8080/ccmcip/xmldirectoryinput.jsp?l=&amp;f=&amp;n=" />
    <add key="UrlDirectory.Colombia" value="http://10.11.75.10:8080/ccmcip/xmldirectorylist.jsp" />
    
    <add key="UrlDirectory.Landing.Peru" value="http://10.11.75.10:8080/ccmcip/xmldirectoryinput.jsp?l=&amp;f=&amp;n=" />
    <add key="UrlDirectory.Peru" value="http://10.11.75.10:8080/ccmcip/xmldirectorylist.jsp" />
    
    <add key="UrlDirectory.Landing.Uruguay" value="http://10.11.75.10:8080/ccmcip/xmldirectoryinput.jsp?l=&amp;f=&amp;n=" />
    <add key="UrlDirectory.Uruguay" value="http://10.11.75.10:8080/ccmcip/xmldirectorylist.jsp" />

    <add key="Countries.DedicatedCluster" value="ar-br-py"/>
    <add key="Countries.SharedClusterWithPrefixes" value="co-pe-uy-us-mx-ve-bo-es-nl-fr-uk-de-au"/>
    <add key="Countries.SharedClusterWithOutPrefixes" value="cl"/>
     
    <add key="TopEntriesSearch" value="40"/>

    
    <!--Text Translations-->
    <add key="Language" value="EN"/>
    
    <add key="EN.ErrorNoMatches" value="No Matches found"/>
    <add key="ES.ErrorNoMatches" value="No se encontraron resultados"/>
    
    <add key="EN.Error" value="Error"/>
    <add key="ES.Error" value="Error"/>
    
    <add key="EN.InvalidCountryCode" value="Invalid country code"/>
    <add key="ES.InvalidCountryCode" value="Codigo de pais invalido"/>

    <add key="EN.GettingCountry" value="Getting country"/>
    <add key="ES.GettingCountry" value="Obteniendo el pais"/>

    <add key="EN.Records" value="Records"/>
    <add key="ES.Records" value="Contactos"/>

    <add key="EN.To" value="to"/>
    <add key="ES.To" value="a"/>

    <add key="EN.Of" value="of"/>
    <add key="ES.Of" value="de"/>
    
  </appSettings>
  <connectionStrings />
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Windows" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>