<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <appSettings>

    <!--Url Directory Format-->
    <add key="UrlDirectory.Landing.Format" value="http://{0}/ccmcip/xmldirectoryinput.jsp?l=&amp;f=&amp;n=" />
    <add key="UrlDirectory.Format" value="http://{0}/ccmcip/xmldirectorylist.jsp" />

    <!--Countries Json File Name-->
    <add key="Countries.FileName" value="Countries.AR.json" />
    <add key="Clusters.FileName" value="Clusters.json" />

    <add key="TopEntriesSearch" value="40" />


    <!--LocalHost-->
    <add key="UrlCustomDirectory" value="http://10.11.75.30:50031/CustomDirectory.aspx"/>
    <add key="UrlCustomDirectory.Landing" value="http://10.11.75.30:50030/landing.aspx"/>

    <!--Text Translations-->
    <add key="Language" value="EN" />

    <add key="EN.ErrorNoMatches" value="No Matches found" />
    <add key="ES.ErrorNoMatches" value="No se encontraron resultados" />
    <add key="PT.ErrorNoMatches" value="0 resultados" />
    <add key="FR.ErrorNoMatches" value="0 resultats" />
    <add key="DE.ErrorNoMatches" value="Keine Treffer gefunden" />
    <add key="NL.ErrorNoMatches" value="Geen overeenkomsten gevonden" />
    <add key="IT.ErrorNoMatches" value="Nessun risultato trovato" />
    
    <add key="EN.Error" value="Error" />
    <add key="ES.Error" value="Error" />
    <add key="PT.Error" value="Error" />
    <add key="FR.Error" value="Erreur" />
    <add key="DE.Error" value="Fehler" />
    <add key="NL.Error" value="fout" />
    <add key="IT.Error" value="errore" />

    <add key="EN.InvalidCountryCode" value="Invalid country code" />
    <add key="ES.InvalidCountryCode" value="Codigo de pais invalido" />
    <add key="PT.InvalidCountryCode" value="Codigo do pais invalido" />
    <add key="FR.InvalidCountryCode" value="Code de pays non valide" />
    <add key="DE.InvalidCountryCode" value="Ungultige Landercode" />
    <add key="NL.InvalidCountryCode" value="Ongeldige landcode" />
    <add key="IT.InvalidCountryCode" value="codice del paese non valido" />

    <add key="EN.GettingCountry" value="Getting country" />
    <add key="ES.GettingCountry" value="Obteniendo el pais" />
    <add key="PT.GettingCountry" value="Obtendo o pais" />
    <add key="FR.GettingCountry" value="Obtenir le pays" />
    <add key="DE.GettingCountry" value="Erste das Land" />
    <add key="NL.GettingCountry" value="Het krijgen van het land" />
    <add key="IT.GettingCountry" value="ottenendo il paese" />

    <add key="EN.Records" value="Records" />
    <add key="ES.Records" value="Contactos" />
    <add key="PT.Records" value="Contatos" />
    <add key="FR.Records" value="Contats" />
    <add key="DE.Records" value="Kontakte" />
    <add key="NL.Records" value="Contacten" />
    <add key="IT.Records" value="contatti" />

    <add key="EN.To" value="to" />
    <add key="ES.To" value="a" />
    <add key="PT.To" value="para" />
    <add key="FR.To" value="en haut" />
    <add key="DE.To" value="nach oben" />
    <add key="NL.To" value="omhoog" />
    <add key="IT.To" value="a" />

    <add key="EN.Of" value="of" />
    <add key="ES.Of" value="de" />
    <add key="PT.Of" value="de" />
    <add key="FR.Of" value="de" />
    <add key="DE.Of" value="von" />
    <add key="NL.Of" value="van" />
    <add key="IT.Of" value="di" />
    

  </appSettings>
  <connectionStrings />
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Windows" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>