<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings xdt:Transform="Replace">
    <add key="Countries" value="Argentina:ar:|Chile:cl:*18|Paraguay:py:*18|Estados Unidos:us:*18|Brasil:br:*18" />

    <add key="UrlCustomDirectory.Landing" value="http://8karbuerectm01.ar.lan.com:50030/" />
    <add key="UrlCustomDirectory" value="http://8karbuerectm01.ar.lan.com:50031/CustomDirectory.aspx" />

    <add key="UrlDirectory.Landing_Argentina" value="http://10.11.147.10:8080/ccmcip/xmldirectoryinput.jsp?l=&amp;f=&amp;n=" />
    <add key="UrlDirectory_Argentina" value="http://10.11.147.10:8080/ccmcip/xmldirectorylist.jsp" />

    <add key="UrlDirectory.Landing_Chile" value="http://10.11.75.10:8080/ccmcip/xmldirectoryinput.jsp?l=&amp;f=&amp;n=" />
    <add key="UrlDirectory_Chile" value="http://10.11.75.10:8080/ccmcip/xmldirectorylist.jsp" />

    <add key="UrlDirectory.Landing_Paraguay" value="http://10.13.11.10:8080/ccmcip/xmldirectoryinput.jsp?l=&amp;f=&amp;n=" />
    <add key="UrlDirectory_Paraguay" value="http://10.13.11.10:8080/ccmcip/xmldirectorylist.jsp" />

    <add key="UrlDirectory.Landing_Brasil" value="http://10.7.250.231:8080/ccmcip/xmldirectoryinput.jsp?l=&amp;f=&amp;n=" />
    <add key="UrlDirectory_Brasil" value="http://10.7.250.231:8080/ccmcip/xmldirectorylist.jsp" />

    <add key="UrlDirectory.Landing_Estados_Unidos" value="http://10.13.149.10:8080/ccmcip/xmldirectoryinput.jsp?l=&amp;f=&amp;n=" />
    <add key="UrlDirectory_Estados_Unidos" value="http://10.13.149.10:8080/ccmcip/xmldirectorylist.jsp" />

    <add key="TopEntriesSearch" value="40"/>
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>