<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <!--Clusters IP Adress-->
    <add key="ConoNorte.IPAdresss" value="10.13.149.10:8080" />
    <add key="ConoSur.IPAdresss" value="10.11.75.10:8080" />
    <add key="Argentina.IPAdresss" value="10.11.147.10:8080" />
    <add key="Paraguay.IPAdresss" value="10.13.11.10:8080" />
    <add key="Brasil.IPAdresss" value="10.7.250.231:8080" />

    <!--Url Directory Format-->
    <add key="UrlDirectory.Landing.Format" value="http://{0}/ccmcip/xmldirectoryinput.jsp?l=&amp;f=&amp;n=" />
    <add key="UrlDirectory.Format" value="http://{0}/ccmcip/xmldirectorylist.jsp" />

    <!--Countries Json File Name-->
    <add key="Countries.JsonFileName" value="Countries.ConoSur.json" />
    
    <add key="TopEntriesSearch" value="40" />

    
    <!--Text Translations-->
    <add key="Language" value="EN" />
    
    <add key="EN.ErrorNoMatches" value="No Matches found" />
    <add key="ES.ErrorNoMatches" value="No se encontraron resultados" />
    
    <add key="EN.Error" value="Error" />
    <add key="ES.Error" value="Error" />
    
    <add key="EN.InvalidCountryCode" value="Invalid country code" />
    <add key="ES.InvalidCountryCode" value="Codigo de pais invalido" />

    <add key="EN.GettingCountry" value="Getting country" />
    <add key="ES.GettingCountry" value="Obteniendo el pais" />

    <add key="EN.Records" value="Records" />
    <add key="ES.Records" value="Contactos" />

    <add key="EN.To" value="to" />
    <add key="ES.To" value="a" />

    <add key="EN.Of" value="of" />
    <add key="ES.Of" value="de" />
    
  </appSettings>
  <connectionStrings />
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Windows" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>