<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="Countries.FileName" value="Countries.US.json" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="UrlCustomDirectory.Landing" value="http://10.11.75.30:5014/landing.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlCustomDirectory" value="http://10.11.75.30:6014/CustomDirectory.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>