<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings  xdt:Transform="Replace">

    <!--Url Directory Format-->
    <add key="UrlDirectory.Landing.Format" value="http://{0}/ccmcip/xmldirectoryinput.jsp?l=&amp;f=&amp;n=" />
    <add key="UrlDirectory.Format" value="http://{0}/ccmcip/xmldirectorylist.jsp" />

    <!--Countries Json File Name-->
    <add key="Countries.FileName" value="Countries.ConoSur.json" />
    <add key="Clusters.FileName" value="Clusters.json" />

    <add key="TopEntriesSearch" value="40" />


    <!--LocalHost-->
    <add key="UrlCustomDirectory" value="http://10.11.161.38:50033/CustomDirectory.aspx"/>
    <add key="UrlCustomDirectory.Landing" value="http://10.11.161.38:50030/landing.aspx"/>

    <!--Text Translations-->
    <add key="Language" value="EN" />

    <add key="EN.ErrorNoMatches" value="No Matches found" />
    <add key="ES.ErrorNoMatches" value="No se encontraron resultados" />
    <add key="PT.ErrorNoMatches" value="0 resultados" />

    <add key="EN.Error" value="Error" />
    <add key="ES.Error" value="Error" />
    <add key="PT.Error" value="Error" />

    <add key="EN.InvalidCountryCode" value="Invalid country code" />
    <add key="ES.InvalidCountryCode" value="Codigo de pais invalido" />
    <add key="PT.InvalidCountryCode" value="Código do país inválido" />

    <add key="EN.GettingCountry" value="Getting country" />
    <add key="ES.GettingCountry" value="Obteniendo el pais" />
    <add key="PT.GettingCountry" value="Obtendo o país" />

    <add key="EN.Records" value="Records" />
    <add key="ES.Records" value="Contactos" />
    <add key="PT.Records" value="Contatos" />

    <add key="EN.To" value="to" />
    <add key="ES.To" value="a" />
    <add key="PT.To" value="para" />

    <add key="EN.Of" value="of" />
    <add key="ES.Of" value="de" />
    <add key="PT.Of" value="de" />

  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>